{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Tabs{% endblock %}</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" href="{% static "tab_app/css/main.css" %}">
    </head>
    <body>
        <div class="container">
        {% block body %}
            body
        {% endblock %}
        </div>
    </body>
</html>
