{% extends "base.html" %}

{% block body %}
<div class="row">
    <form class="col s12" action="" method="">
        <div class="row">
            <input type="text" name="song_name" value="" placeholder='Song Name' class="input-field col s8">
            <input type="submit" value="Search" class="btn-large waves-effect waves-light red input-field col s4">
        </div>
    </form>
</div>
    <h3>Search Results for: {{ search }}</h3>
    <div class="row">
        <div class="col s4">
            <ol>
                {% autoescape off %}
                {% for band in band_names %}
                <li>{{ band }}</li>
                {% endfor %}
                {% endautoescape %}
            </ol>
        </div>
        <div class="col s8">
            <ul>
                {% autoescape off %}
                {% for link in links %}
                    <li>{{ link }}</li>
                {% endfor %}
                {% endautoescape %}
            </ul>
        </div>
    </div>


{% endblock %}
